.main {
  background: #fffdfa;
  display: flex;
  flex-direction: row;
}

.all-courses-left-section {
  padding-right: 275px;
}

.all-courses-right-section {
  display: flex;
  flex-direction: column;
}

.all-courses {
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 94px;
}

.all-courses-left {
  background: #d0addc;
  width: 131px;
  height: 34px;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin-top: 132px;
  margin-left: 178px;
  padding-top: 7px;
}

.courses-genre-container {
  margin-left: 178px;
}

.left-course-headers {
  font-size: 25px;
  font-weight: 400;
  margin-top: 53px;
}

hr {
  height: 1px;
  background: #7869b9;
  margin-top: 6.5px;
  margin-bottom: 25px;
}

.left-courses-list {
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}

.left-courses-list > p {
  padding-left: 0;
}

.staff-pick-left-section {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
}

.staff-pick-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid #fff;
  background: #f9fbfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.staff-pick-header {
  background: #d0addc;
  width: 111px;
  height: 34px;
  font-size: 17px;
  font-weight: 400;
  margin-top: 22px;
  margin-left: 61px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.saras-videos-img {
  display: flex;
  width: 62px;
  height: 62px;
  flex-shrink: 0;
  border-radius: 62px;
  background-size: cover;
  background-repeat: no-repeat;
}

.staff-pick-img {
  display: flex;
  width: 403px;
  height: 240px;
  flex-shrink: 0;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.bookmark {
  margin-top: 2px;
}
