.submit-btn {
    padding: 0.5rem 2rem!important;
    margin-right: 2.5rem;
    background-color: #D0ADDC;
    border: none;
  }

  .submit-btn:hover {
    color: white;
    background-color: #D0ADDC;
    font-size: 20px;
  }