.body {
  background-color: #fffdfa;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.dashboard-metrics {
  padding: 20px;
}

.dashboard-container {
  font-weight: 100;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.dashboard-header {
  margin-top: 20px; /* Adjust this margin as needed */
}

.dashboard-content {
  text-align: center;
  margin-top: 20px; /* Adjust this margin as needed */
}

.dashboard-content h3 {
  font-weight: 100;
  margin-top: 10px; 
}

.dashboard-metrics-container {
  padding: 20px; /* Adjust the padding as needed */
  white-space: nowrap;
}

.welcome-message {
  font-weight: 100;
  text-align: left;
  margin-top: 20px; /* Adjust the margin as needed */
  margin-bottom: 20px;
  white-space: nowrap;
}
@media (max-width: 1000px) {
  .welcome-message {
    white-space: normal; /* Allow text to wrap when the screen width is 768px or smaller */
  }
}
