.course-box {
        background-color: #d9d9d9;
        width: 320px;
        height: 200px;
        padding: 5rem;
        border-radius: 10px;
}

.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
}