.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #344D56;
  color: #fff;
  padding: 2rem 0;
}

.input {
  width: 25rem;
  height: 2rem;
  padding: 1rem 10px 1rem 2.5rem;
  background-position: 10px center;
  background-image: url('../Images/search.png');
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  border: none;
}

.link {
  text-decoration: none; /* Add underline */
  color: black; /* Set text color to black */
  transition: color 0.3s ease;
}

nav {
  display: none;
}

.menu {
  display: none;
}

.userPfp {
  width: 65px;
  height: 65px;
  border-radius: 65px;
  flex-shrink: 0;
}

@media screen and (max-width: 576px) {
  .header {
    display: none;
  }

  nav {
    display: block;
  }

  /* mobile design */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }

  .logo {
    font-size: 1.5rem;
  }

  button {
    color: #fff;
    font-size: 1.2rem;
  }

  .bm-burger-button {
    display: none; /* Hide the default burger button */
  }

  .bm-menu {
    background-color: #333;
  }

  .bm-menu a {
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    text-decoration: none;
  }

  .menu {
    display: block;
  }

  /* end mobile design */
}