* {
  font-family: "Nobile", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.profile-header {
  display: flex;
  justify-content: left; /* Align content to the left of the parent */
  margin-left: 0rem;
  margin-top: 2rem;
  margin-right: 57.5rem;
  margin-bottom: 0;
}

h1 {
  justify-content: left;
  width: 317px;
  height: 40px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-pfp-container {
  background-image: url("../Image/user-header.jpg");
  background-size: cover; /* Cover the container without stretching */
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  width: 1080px;
  height: 180px;
}

.profile-container {
  align-items: center;
  width: 1080px;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-picture {
  width: 137px;
  height: 137px;
  flex-shrink: 0;
  border-radius: 137px;
  margin: 20px 60px;
  border: 1px solid #000;
  background: lightgray;
  background-size: cover;
  background-repeat: no-repeat;
}

.edit-profile-btn {
  background: #b382dd;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  margin-top: 60px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.user-info-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 16.6rem;
  padding-right: 10rem;
}

.info-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 6rem;
}

.info-field {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 2rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.edit-profile {
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 4rem 4rem;
  padding-right: 11rem;
  width: 146px;
  height: 40px;
  flex-shrink: 0;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.completed-courses-container {
  display: flex;
  flex-wrap: wrap;
  width: 42rem;
  margin-left: 0rem;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 1rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~new implement~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.course-img {
  height: 250px;
  width: 320px;
  position: relative;
  padding-right: 1rem;
  margin-top: 35px;
}

.course-box-two {
  height: 80%;
  position: absolute;
  width: 320px;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: lightgray;
}

/* .course-box {
  background-color: #d9d9d9;
  width: 320px;
  height: 200px;
  padding: 5rem;
  border-radius: 10px;
} */

.testPTag {
  height: 20%; /* 1/3 of the container's height */
  margin-top: 62.5%; /* To create space for the image above */
  width: 304px;
  /* background-color: #f0f0f0; Optional background color for the paragraph */
  border: 1px solid #fff;
  background: #f9fbfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  padding: 6px 5px 4px 9px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~end new implement~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.dot-menu {
  width: 19px;
  height: 5px;
  flex-shrink: 0;
  margin-top: 12px;
}

/* .course-box > p {
  height: 50px;
  background-color: #000;
} */

.course-img-1 {
  /* display: flex;
  flex-direction: column; */
  height: 250px;
  position: relative;
}

/* .course-img-1 > button {
  background-image: url("../Image/painting-with-acrylics.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  border-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
}

.course-img-2 > button {
  background-image: url("../Image/what-is-ai.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  border-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
}

.course-img-3 > button {
  background-image: url("../Image/italian-for-travelers.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  border-color: lightgray;
  position: absolute;
  top: 0;
  left: 0;
} */

.course-img-1 > p,
.course-img-2 > p,
.course-img-3 > p {
  font-size: 15px;
  /* position: absolute; */
  /* top: 0; */
  /* border: 1px solid #fff;
  background: #f9fbfc;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 61px;
  flex-shrink: 0; */
  height: 33.33%; /* 1/3 of the container's height */
  margin-top: 66.67%; /* To create space for the image above */
  background-color: #f0f0f0; /* Optional background color for the paragraph */
}

h3 {
  text-align: left;
  /* margin-left: 2rem; */
  margin-top: 120px;
  margin-bottom: 0 !important;
  margin-right: 4rem;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  display: flex;
  justify-content: left;
  padding-left: 2rem;
}
