/* @import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Oswald&family=Poppins:wght@400;500;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&family=Nobile&family=Oswald&family=Poppins:wght@400;500;600&display=swap');
.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Nobile', sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

/* Target the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

/* Target the scrollbar track when the thumb is being hovered over */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Change the color on hover */
}

/* Target the scrollbar corners (where vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
  background-color: transparent; /* Set the color of the corners */
}
